.sidebar {
  background-color: #162029;

  :global {
    .nav-group-toggle:hover {
      background-color: #343a40;
      color: white;
      cursor: pointer;
    }

    .nav-group-toggle:hover .nav-icon {
      color: #0d6efd;
    }

    .nav-group-toggle:hover span {
      color: #f8f9fa;
    }

    // 👇 Aplica los mismos estilos a los items de los tableros y el botón de añadir tablero
    .nav-link:hover {
      background-color: #343a40;
      color: white;
      cursor: pointer;
    }

    .nav-link:hover .nav-icon {
      color: #0d6efd;
    }

    .nav-link:hover span {
      color: #f8f9fa;
    }
  }
}