.welcome_section {
  height: 90vh;
  // background: #83a4d4;
  // background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);
  // background: linear-gradient(
  //   to left,
  //   #b6fbff,
  //   #83a4d4
  // ); //Different backgrounds for different web browsers
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  div {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    // overflow: hidden;
    margin: 0 auto;
    padding: 80px 0px;

    article {
      width: 45%;
      color: white;
      opacity: 0;
      animation: fadeInLeft 1s ease-out forwards;

      h1 {
        font-size: 3rem;
        font-weight: bold;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 300;
      }
    }

    figure {
      width: 45%;
      text-align: center;
      margin: 0;
      opacity: 0;
      animation: fadeInRight 1s ease-out forwards;
      animation-delay: 0.5s;
      img {
        max-width: 80%;
      }
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.features_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 7rem;
  padding-bottom: 5rem;

  article {
    h2 {
      font-weight: bold;
    }
  }

  .feature_cards_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    gap: 3rem;
  }
}

.carousel_section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 6rem 0;
  background: #83a4d4;
  background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4);
  background: linear-gradient(
    to left,
    #b6fbff,
    #83a4d4
  ); //Different backgrounds for different web browsers
}
